.u-section-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 0 16px 0 78px;
}

.u-section-1 .u-text-3 {
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 31px auto 0 271px;
  padding: 10px 77px 10px 76px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px 270px 0 auto;
  padding: 10px 61px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0;
  padding: 10px 38px 10px 37px;
}

.u-section-1 .u-text-4 {
  margin: 16px 732px 0 332px;
}

.u-section-1 .u-text-5 {
  margin: -44px 331px 0 733px;
}

.u-section-1 .u-text-6 {
  margin: 44px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 19px auto 0 271px;
  padding: 10px 57px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 491px;
  padding: 10px 22px 10px 20px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -46px auto 0 670px;
  padding: 10px 40px 10px 39px;
}

.u-section-1 .u-text-7 {
  margin: 23px 728px 0 332px;
}

.u-section-1 .u-text-8 {
  margin: -44px auto 0;
}

.u-section-1 .u-text-9 {
  margin: -44px 319px 0 718px;
}

.u-section-1 .u-text-10 {
  margin: 17px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 24px auto 0;
  padding: 10px 68px;
}

.u-section-1 .u-text-11 {
  margin: 24px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(white, #478ac9);
  margin: 48px auto 42px;
  padding: 10px 68px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 71px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 70px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 628px;
    margin-left: 127px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: -50px;
    margin-left: 725px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 132px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 571px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 391px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 570px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 571px;
    margin-left: 237px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 123px;
    margin-left: 618px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2273px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 522px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
    margin-right: 438px;
    margin-left: 24px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -256px;
    margin-left: 564px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 126px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 29px;
    margin-right: 522px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 24px;
    margin-right: 522px;
    margin-left: 59px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -141px;
    margin-left: 555px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 124px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 72px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 70px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2304px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 47px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -77px;
    margin-right: 373px;
    margin-left: 49px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -34px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 157px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 31px;
    margin-right: 0;
    padding-right: 40px;
    padding-left: 39px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 44px;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -74px;
    margin-right: -29px;
    margin-left: 409px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -35px;
    margin-left: 16px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 46px;
    margin-right: 121px;
    margin-left: 192px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 70px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 34px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 23px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    padding-right: 45px;
    padding-left: 44px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 58px;
    margin-right: auto;
    padding-right: 33px;
    padding-left: 32px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -150px;
    margin-right: 0;
    padding-right: 21px;
    padding-left: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
    margin-right: 170px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-5 {
    width: 112px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 40px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 193px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -157px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -110px;
    margin-right: 27px;
    margin-left: 130px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 182px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: -150px;
    margin-right: 0;
    margin-left: 126px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 126px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 25px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 43px;
    margin-bottom: 47px;
  }
}